nav {
    .nav-alink {
        color: white;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .islewalk-brand {
        font-size: 1.6rem;
        font-family: Bahnschrift;
        font-style: italic;
        color: white;
        position: absolute;
        left: 50%;
    }

}
